.grid-container {
	display: grid;
	grid-template-areas:
		'nav nav nav nav nav'
		'header header header header header'
		'aside section section section section'
		'footer footer footer footer footer';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
}

.header {
	background-color: red;
}