.grid-container {
	display: grid;
	grid-template-areas:
		'header header header header header'
		'aside section section section aside'
		'aside section section section aside'
		'aside section section section aside'
		'footer footer footer footer footer';
	grid-gap: 10px;
}